@page
@model Renting.Pages.Items.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Предметы</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Добавить предмет</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Items.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label>Название</label>
                        </th>
                        <th>
                            <label>Цена аренды</label>
                        </th>
                        <th>
                            <label>Рыночная стоимость</label>
                        </th>
                        <th>
                            <label>Цена поломки</label>
                        </th>
                        <th>
                            <label>Размер RU</label>
                        </th>
                        <th>
                            <label>Длина</label>
                        </th>
                        <th>
                            <label>Ширина</label>
                        </th>

                        <th>
                        </th>
                    </tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.RentalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.MarketPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.BreakdownFee)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.SizeRu)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Length)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Width)
                            </td>

                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="width: 150px">Удалить</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white" style="width: 150px">Редактировать</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Нет покупателей</p>
            }
        </form>
    </div>

</div>




